//#ml-body {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}
//
//#ml-body > .navbar {
//  margin: 0;
//  width: 100%;
//}
//
//#ml-body > #primary-body {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}
//
//#ml-body > #primary-body > #primary-body-row {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}
//
//#ml-body > #primary-body > #primary-body-row > #sidebar {
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}
//
//#ml-body > #primary-body > #primary-body-row > #sidebar > .list-group {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  border: none;
//}
//
//#ml-body > #primary-body > #primary-body-row > #sidebar > .list-group > .list-group-item {
//  margin: 0;
//  width: 100%;
//  border: none;
//}
//
//#ml-body > #primary-body > #primary-body-row > #primary-content {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}
//
//#ml-body > #primary-body > #primary-body-row > #primary-content > .jumbotron {
//  margin: 0;
//  width: 100%;
//}
//
//#ml-body > #primary-body > #primary-body-row > #primary-content > #primary-content-row {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//}

//#ml-body {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;


.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

#primary-body {
  margin-top: 56px;
}

#sidebar {
  padding-top: 2rem;
}

.lead-paragraph {
  font-size: 1.1rem;
}

.highlight {
  background-color: #f7f7f9;
  margin-top: 1rem;
  padding: 1.5em 2rem;
}

.highlight pre {
  background-color: transparent;
}

.highlight pre code {
  background-color: transparent;
}

.indented-1 {
  padding-left: 1rem;
}

.indented-2 {
  padding-left: 2rem;
}

.indented-3 {
  padding-left: 3rem;
}
