.sidebar
  .label
    %img{:alt => "", :src => "http://www.clker.com/cliparts/r/c/z/k/x/c/greater-than-hi.png"}/
  %p.clicktopin
    %strong CLICK TO PIN / UNPIN
  %br/
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tempora praesentium qui a atque nobis distinctio quo doloribus repellendus temporibus. Eaque dolore cupiditate facilis obcaecati qui alias voluptas quae totam.
  %br/
